
.titulo-digitalhome{
    @extend .titulo;
    font-size: 40px;
    padding-left: 2rem;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: left;
    justify-content: flex-start;
}
h2 {
    @extend .encabezado;
    
}
.digitaldestacada {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    a img{
        width: 1100px;
        @extend .transformacion;
    }
}
.digitaldestacadados{
    a img{
        display: none;
    }
    
}
.digital_colecciones{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    a img{
        width: 350px;
        @extend .transformacion;
    } 
}